body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #1d1b18;
  }
  
  #super-container {
    /* Överordnad container som innehåller de mindre */
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: column;
    align-items: center; /* Justera mot horisontell mitt */
    width: 100%;
    padding: 3%; /* Marginal mot webbläsarfönstret */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: solid;
  }
  #stats-container {
    /* Överordnad container som innehåller de mindre */
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 1px;
    width: 80%;
    background-color: transparent;
    border: solid; 
  }
  #stats-text-container{
    font-family: Courier;
    font-size: 20px;
    color: white;
    margin: 1%;
    width: 100%;
    height: 10vh;
    padding: 0%;
    text-align: left;
    margin-top: 10px;
  }
  
  #dörrar-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    width: 50%;
    height: 0.1%;
    padding: 0%; /* Marginal mot webbläsarfönstret */
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  #dörr-1-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 5%;
    border: solid; 
  }
  
  #dörr-2-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 5%;
    border: solid; 
  }
  
  #dörr-3-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 5%;
    border: solid; 
  }
  #monster-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 1%;
    padding: 1%;
    border: solid transparent; 
  }
  #monster-låda {
    font-size: 20pt;
    background-color: rgb(54, 36, 22);
    color: transparent;
    width: 100px;
    height: 200px;
  }

  #dörr-1 {
    font-size: 20pt;
    background-color: rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #dörr-2 {
    font-size: 20pt;
    background-color:rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #dörr-3 {
    font-size: 20pt;
    background-color: rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #spara-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 5%;
    border: solid; 

  }
  #släng-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: -2%;
    border: solid; 
  }
  #slå-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: 5%;
    border: solid; 

  }
  #spring-container {
    /*Rutan som knapparna visas i*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centering i kolumnen, dvs vertikalt */
    margin: -2%;
    border: solid; 
  }
  #spara {
    font-size: 8pt;
    background-color:rgb(29, 46, 45);
    color: rgb(202, 195, 190);
    width: 40px;
    height: 70px;
  }
  
  #släng {
    font-size: 8pt;
    background-color: rgb(57, 54, 18);
    color:  rgb(202, 195, 190);
    width: 40px;
    height: 70px;
  }
  #slå {
    font-size: 10pt;
    background-color:rgb(29, 11, 62);
    color: rgb(202, 195, 190);
    width: 40px;
    height: 70px;
  }
  
  #spring {
    font-size: 10pt;
    background-color: rgb(23, 51, 26);
    color:  rgb(202, 195, 190);
    width: 40px;
    height: 70px;
  }
  
  
  
  #output-container {
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: row;
    justify-content: center; /* Centrering på raden, dvs horisontellt */
    align-items: center;
    width: 100%;
    height: 25vh;
    border: solid;
    padding: 2%;
    border-color: black;
    background: #0e102992;
    border-radius: 15px;
  }
  #text-output-container {
    /*Rutan som textutmatningen sker i*/
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: column;
    justify-content: center;
    font-family: "Lucida Console";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.769);
    margin: 1%;
    width: 80%;
    height: 25vh;
    padding: 2%;
    text-align: left;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    /*-radius: 15px; *//* Rundade hörn */
    /*display: none;*/
  }

  #text-container{
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: center;
    justify-content: center; /* Centrering på raden, dvs horisontellt */
    align-items: left;
    color: rgb(163, 163, 163);
    width: 95.5%;
    height: 60%;
    padding: 1%;
    margin: 1%;
    border: solid;
    border-color: transparent;
  }
  #continue-container{
    display: flex;
    flex-direction: row;
    justify-content: right; /* Centering i kolumnen, dvs vertikalt */
    margin: 1%;
    border: solid; 
    border-color : transparent;
  

  }
  #continueF {
    font-size: 16pt;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 90px;
    height: 30px;
    font-family: Courier ;
  }
  #continueK {
    font-size: 16pt;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 90px;
    height: 30px;
    font-family: Courier ;
  }
  #continueM {
    font-size: 16pt;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 90px;
    height: 30px;
    font-family: Courier ;
  }
  #inventory-container {
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: column;
    justify-content: left; /* Centrering på raden, dvs horisontellt */
    align-items: center;
    color: white;
    width: 20%;
    height: 25vh;
    padding: 2%;
    border: solid;
    border-color: black;
  }
  #aktivitets-container {
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: row;
    justify-content: right; /* Centrering på raden, dvs horisontellt */
    align-items: center;
    width: 20%;
    height: 25vh;
    padding: 2%;
    border: solid;
    border-color: black;
  }

 
  
  
  