body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #1d1b18;
  }
  
  #super-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: solid;
  }
  #stats-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 1px;
    width: 80%;
    height: 40px;
    background-color: #24211f;
    border: solid ; 
  }
  #stats-text-container{
    font-family: Courier;
    justify-content: bottom;
    font-size: 20px;
    color: white;
    margin: 1%;
    width: 100%;
    height: 10vh;
    padding: 0%;
    text-align: left;
    margin-top: 10px;
  }
  
  #dörrar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 0.1%;
    padding: 0%;
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  #dörr-1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    border: solid; 
  }
  
  #dörr-2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    border: solid; 
  }
  
  #dörr-3-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    border: solid; 
  }
  #monster-container {
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    margin: 1%;
    padding: 1%;
    height: 100%;
    border: solid transparent; 
  }
  #dörr-1 {
    font-size: 20pt;
    background-color: rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #dörr-2 {
    font-size: 20pt;
    background-color:rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #dörr-3 {
    font-size: 20pt;
    background-color: rgb(54, 36, 22);
    color: black;
    width: 120px;
    height: 270px;
  }
  
  #alt1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    border: solid; 
  }
  #alt2-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 2%;
    border: solid; 
  }
  #alt1 {
    font-size: 12pt;
    background-color:rgb(29, 46, 45);
    color: rgb(202, 195, 190);
    width: 70px;
    height: 80px;
  }
  
  #alt2 {
    font-size: 12pt;
    background-color: rgb(57, 54, 18);
    color:  rgb(202, 195, 190);
    width: 70px;
    height: 80px;
  }
  #output-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    border: solid;
    padding: 2%;
    border-color: black;
    background: #0e102992;
    border-radius: 15px;
  }
  #text-output-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-family: "Lucida Console";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.769);
    margin: 1%;
    width: 80%;
    height: 25vh;
    padding: 2%;
    text-align: left;
    border: solid;
    border-color: black;
    border-width: 1.5px;
  }

  #text-container{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: left;
    color: rgb(163, 163, 163);
    width: 95.5%;
    height: 60%;
    padding: 1%;
    margin: 1%;
    border: solid;
    border-color: transparent;
  }
  #continue-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 1%;
    padding-left: 50%;
    border: solid; 
    border-color : transparent;
  }
  #continueK {
    font-size: 16pt;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 90px;
    height: 30px;
    font-family: Courier ;
  }
  #inventory-container {
    display: flex; 
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: white;
    width: 20%;
    height: 25vh;
    padding: 2%;
    border: solid;
    border-color: black;
  }
  #aktivitets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25vh;
    padding: 2%;
    border: solid;
    border-color: black;
  }

 
  
  
  